<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37225268474-n8iv68oiem73bh9hmfp438qpn3he5i3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37225268474-n8iv68oiem73bh9hmfp438qpn3he5i3h</string>
	<key>API_KEY</key>
	<string>AIzaSyDGaolC6aFLCHAP09s65_pRXXpewzrNeyc</string>
	<key>GCM_SENDER_ID</key>
	<string>37225268474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phoneAuthBloc</string>
	<key>PROJECT_ID</key>
	<string>phone-verify-bloc</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-verify-bloc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37225268474:ios:8884792bbdec1fe84c7543</string>
</dict>
</plist>